.wrapper{

    display: grid;
    width: 70%;
    margin: 0 auto;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px 50px 50px;
    grid-template-areas:
        "p1info p1score"
        "p2info p2score"
        "submit submit";
    align-items: center;

    *{
        font-size: 30px;
    }

    .player1Score{
        grid-area: p1score;
    }
    .player2Score{
        grid-area: p2score;
    }
    .player1{
        grid-area: p1info;
    }
    .player2{
        grid-area: p2info;
    }

    button{
        grid-area: submit;
        width: 160px;
        margin: 0 auto;
        padding: 5px;
    }

}
