<div class="already" *ngIf="loggedIn">
    You are already logged in.
</div>

<form (submit)="attemptLogin()" *ngIf="!loggedIn">
    <h3>Log In to Report Matches, etc.</h3>
    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" />
        <input type="submit" value="Log In" />
    </p>
    <p>
        <a routerLink="/league">Cancel</a>
    </p>
    <div class="warn" *ngIf="failed">Sorry, that's the wrong password.</div>
</form>
