.home{
    width: 700px;
    margin: 0 auto;
    h3{
        margin: 5px 0px;
        text-align: left;
        padding: 0px;
    }
    ul{
        margin: 0px 0px 30px;
        li{
            margin-left: 20px;
        }
    }
}
