div{
  width: 65%;
  margin: 0 auto;
}
form{
  text-align: center;
}
ul{
  padding-left: 30px;
  li{
    margin: 5px 0;
  }
}
.selected{
  border: 1px solid #FFE033;
  padding: 5px;
  :not(&){
    padding: 6px;
  }
}
