#player-list{
    width: 700px;
    margin: 0 auto;

    .player{
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'position tag wins losses';

      &.selectable{
          cursor: pointer;
      }
      &.selected{
          background-color: white;
      }

      > *{
        padding: 10px;
      }

      h4{
        grid-area: tag;
      }
      p.position{
        grid-area: position;
        text-align: right;
      }
      p.wins{
        grid-area: wins;
        text-align: right;
      }
      p.losses{
        grid-area: losses;
        text-align: right;
      }
    }
}
