.player{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'tag tier';

  > *{
    padding: 5px;
    font-size: 16px;
  }

  h4{
    text-align: right;
    grid-area: tag;
  }
  p{
    grid-area: tier;
  }
}